body
{
    padding: 0;
    margin: auto;
    background-color: #f1f1f1;
    color: #333;
}

.bg-gray
{
    background: #f1f1f1 !important;
}

.bg-dark
{
    background: #333 !important;
}

.fg-light
{
    color: #fff !important;
}

.fg-dark
{
    color: #333 !important;
}

#scrollspy .main.menu .ui.button,
#scrollspy .main.menu .item.header span
{
    margin-left: 13px;
}

#scrollspy section
{
    min-height: 600px;
    background-color: white;
}

#scrollspy section .ui.container .content
{
    padding: 32px 16px 32px 16px;
}

#scrollspy section.section-top
{
    margin-top: 52.63px;
}